<h1>Reset Password</h1>

<%= form_for @user, :url => password_reset_path(params[:id]) do |f| %>
  <% if @user.errors.any? %>
    <div class="error_messages">
      <h2>
        <%= pluralize(@user.errors.count, "error") %> your password reset from succeeding:
      </h2>
      <ul>
        <% @user.errors.full_messages.uniq.each { |message| %>
        <li><%=  message  %></li>
        <%  } %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="actions"><%= f.submit "Update Password" %></div>
  <p>
    <strong>Passwords must:</strong>
    <ul>
      <li>be at least 12 characters long.</li>
      <li>contain one uppercase letter.</li>
      <li>contain one lowercase letter.</li>
      <li>contain one symbol.</li>
      <li>contain one number.</li>
    </ul>
  </p>
<% end %>

