<h1>Listing Visitors</h1>
<table>
  <tr>
   <th>Email Address</th>
    <th>Browser</th>
    <th>Version</th>
    <th>Compatibility View</th>
    <th>Adblock</th>
    <th>OS</th>
    <th>User ID</th>
    <th>Notes</th>
  </tr>

  <% @visitors.each do |visitor| %>
    <tr>
      <td><%= visitor.email %></td>
      <td><%= visitor.browser %></td>
      <td><%= visitor.version %></td>
      <td><%= visitor.comp_mode %></td>
      <td><%= visitor.adblock%></td>
      <td><%= visitor.os.to_s %></td>
      <td><%= visitor.id %></td>
      <td><%= visitor.notes %></td>
      <td><%= link_to 'Show', visitor_path(visitor) %></td>
      <td><%= link_to 'Edit', edit_visitor_path(visitor) %></td>
      <td><%= link_to 'Destroy', visitor_path(visitor),
                      method: :delete,
                      data:   { confirm: 'Are you certain?' } %></td>
    </tr>
  <% end %>
</table>
<%= link_to 'New Visitor', new_visitor_path %><br>
<%= link_to 'Browser Management Page', portals_path %>