<h1>New Visitor</h1>

<%= form_with model: @visitor, local: true do |form| %>

  <% if @visitor.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@visitor.errors.count, "error") %> prohibited
        your browser information from being saved:
      </h2>
      <ul>
        <% @visitor.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.label :email %>
  <%= form.text_field :email %> </br>
  <% @adblocker = false %>

<!--  Adblock JS solution found in [this Stack Overflow answer](https://stackoverflow.com/a/34745228). -->
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js" onerror="adBlockFunction();"></script>

  // TODO add adBlockFunction() to call the API call

  <p>
    <i>
      By clicking <strong>Create Visitor</strong>, I agree to allow this program collect information regarding my browser and computer.
    </i>
  </p>

  <%= form.submit %>
<% end %>
