<h1>Create New Visitor Record</h1>

<%= form_with model: @visitor, local: true do |form| %>

  <% if @visitor.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@visitor.errors.count, "error") %> prohibited
        your browser information from being saved:
      </h2>
      <ul>
        <% @visitor.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.label :email %>
  <%= form.text_field :email %> </br>
  <p>
    <i>
      By clicking <strong>Submit Information</strong>, I agree to allow this program collect information regarding my browser and computer.
    </i>
  </p>

  <%= form.submit "Submit Information" %>
<% end %>
<p></p>

<!--  Adblock JS solution found in [this Stack Overflow answer](https://stackoverflow.com/a/34745228). -->
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js" onerror="adBlockFunction();"></script>

// TODO: add adBlockFunction() to call the API call
// TODO: Figure out how to get id that we are modifying the adblock attribute for...
// we can probably use this for the css checker as well
<script> function adBlockFunction() {
  // console.log("Did you ever hear the tragedy of Darth Plagueis The Wise?");
  //
  // var xhttp = new XMLHttpRequest();
  // xhttp.open("POST", "/api/v1/visitors/", true); // change this to be user_id/edit?
  // xhttp.setRequestHeader("Content-type", "application/json");
  // xhttp.send(); //[{"id":3, "adblock":1}]
  // var response = JSON.parse(xhttp.responseText);
  }
</script>