<h1>Create New Visitor Record</h1>

<%= form_with model: @visitor, local: true do |form| %>

  <% if @visitor.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@visitor.errors.count, "error") %> prohibited
        your browser information from being saved:
      </h2>
      <ul>
        <% @visitor.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.label :email %>
  <%= form.text_field :email, placeholder: 'youremail@example.com' %> <br>
  <%= form.hidden_field :adblock, value: false %>
  <%= form.hidden_field :css %>

  <p>
    <i>
      By clicking <strong>Submit Information</strong>, I agree to allow this program collect information regarding my browser and computer.
    </i>
  </p>
  <%= form.submit "Submit Information" %>
<% end %>

<% if !current_user.nil? %>
  <i>
    If you would like to delete previously submitted records,
    please <%= link_to 'visit your profile page', user_url(current_user) %>.<br>
    This will also allow you to access all previous visits recorded with your email address: <%= current_user.email %>.
  </i>
<% else %>
  <i>
    If you would like to delete previously submitted records, please <%= link_to 'login', login_url %>
    or <%= link_to 'create an account', signup_url %>.<br>
    This will also allow you to access all previous visits recorded with your email address.
  </i>
<% end %>

<!--  Adblock JS solution found in [this Stack Overflow answer](https://stackoverflow.com/a/34745228).-->
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js" onerror="adBlockFunction();"></script>
<script> function adBlockFunction() {
  document.getElementById('visitor_adblock').value = true;
  console.log("Detected Adblocker.");
  }

// Unable to check CSS on another website. Can't do unless incorporated in the main site:
// Failed to load https://app.kapost.com/users/sign_in: No 'Access-Control-Allow-Origin' header is present on the requested resource. Origin 'null' is therefore not allowed access. If an opaque response serves your needs, set the request's mode to 'no-cors' to fetch the resource with CORS disabled.
// fetch("https://napa-prod-kapost.netdna-ssl.com/assets/login-d84ed8e7240695928708bf27ebc9b43586c2fec089c3c1b6c506133d8ea6a414.css")
//   .then(function(data) {
//     // Here you get the data to modify as you please
//
//     })
//   .catch(function(error) {
//     // If there is any error you will catch them here
//     console.log("Failed to load CSS.")
//   });
</script>