<p>
  <strong>Visitor:</strong>
  <%= "# " + @visitor.id.to_s %></br>

  <strong>Email Address:</strong>
  <%= @visitor.email %></br>

  <strong>Browser:</strong>
  <%= @visitor.browser %></br>

  <strong>Version:</strong>
  <%= @visitor.version %> </br>

  <strong>Compatibility View Enabled:</strong>
  <%= @visitor.comp_mode %> </br>

  <strong>AdBlock Enabled:</strong>
  <%= @visitor.adblock%> </br>

  <strong>Operating System:</strong>
  <%= @visitor.os %>
</p>

<%= link_to 'Edit Visitor', edit_visitor_path(@visitor) %> |
<%= link_to 'Back to Index', visitors_path %>