<p>

  <% if current_user&.employee? %>
    <strong>Visitor ID:</strong>
    <%= @visitor.id.to_s %><br>

    <strong>Email Address:</strong>
    <%= @visitor.email %><br>
  <% end %>

  <% if current_user %>
    <strong>Email Address:</strong>
    <%= @visitor.email %><br>
  <% end %>

  <strong>Browser:</strong>
  <%= @visitor.browser %>
  <%= @visitor.version %> <br>

  <% browser_issue_check(@visitor.browser, @visitor.version) %>

   <% if @visitor.browser == "Internet Explorer" %>
    <strong>Compatibility View Enabled:</strong>
    <%= @visitor.comp_mode %> <br>
    <% if @visitor.comp_mode %>
        Internet Explorer's Compatibility mode has been detected. This feature forces <%= ENV['COMPANY_WEBSITE_NAME'] %> to load as if you were using a much older version of IE. Please disable this setting for viewing <%= ENV['COMPANY_WEBSITE_NAME'] %>. For mor information on disabling compatibility mode, please visit <%= link_to 'this external article', "https://www.howtogeek.com/128289/how-to-disable-compatibility-mode-in-internet-explorer/" %>.
      <br>
    <% end %>
  <% end %>

  <% if @visitor.browser =="Microsoft Edge" %>
    Microsoft Edge is not currently a support browser for this application. For more information please visit our
    <%= link_to 'browser support help article', "https://help.kapost.com/hc/en-us/articles/212465607-Browser-Support" %>.
    <br>
  <% end %>

  <% if outdated(@visitor.version) %>
    <strong>Version Outdated:</strong>
    Your browser is out of date and needs to be updated. <%= ENV['COMPANY_WEBSITE_NAME'] %> is tested to ensure that it works with the last two major releases of major browsers. Your browser is currently <% @current_version - @visitor.version.to_i %> versions behind the current version.
    <br>
  <% end %>

  <strong>AdBlock Enabled:</strong>
  <% if @visitor.adblock %>
    <strong>True</strong> <br>
    Please consider adding <%= ENV['COMPANY_WEBSITE_NAME'] %> to your AdBlocker's exception list. AdBlockers have been know to cause issues for some users with various parts of our application, like uploading files or editing some fields.
  <% else %>
    False
  <% end %>
  <br>

  <strong>Operating System:</strong>
  <%= @visitor.os.titleize%>

  <% if current_user&.employee? %>
    <br><strong>Visitor Notes:</strong> <%= @visitor.notes %><br>
  <% end %>

  <br>
  <strong>Known browser wide issues with <%= @visitor.browser %>:</strong><br>
  <% if @portal_issues.nil? %>
    No known issues. <br>
  <% elsif @portal_issues.empty? %>
    No known issues. <br>
  <% else %>
    <table>
      <tr>
        <% @portal_issues&.each do |_x, issue| %>
          <td>
            <i><%= issue[:name] %></i><br>
            <%= issue[:description] %>
          </td>
        <% end %>
      </tr>
    </table>
    <br>
  <% end %>

  <strong>Known issues with <%= "#{@visitor.browser} #{@visitor.version}" %>:</strong><br>
  <% if @issues.nil? %>
    No known issues. <br>
  <% elsif @issues.empty? %>
    No known issues. <br>
  <% else %>
    <table>
      <tr>
        <% @issues&.each do |_x, issue| %>
          <td>
            <i><%= issue[:name] %></i><br>
            <%= issue[:description] %>
          </td>
        <% end %>
      </tr>
    </table>
    <br>
  <% end %>
</p>

<br>
<% if current_user&.employee? %>
  <%= link_to 'Edit Visitor', edit_visitor_path(@visitor) %> |
  <%= link_to 'Back to Index', visitors_path %>
<% end %>

<% if !current_user.nil? %>
  <p>
    <i>If you would like to delete this record, please <%= link_to 'visit your profile page', user_url(current_user) %>.<br>
      This will also allow you to access all previous visits recorded with your email address: <%= @visitor.email %>.</i>
  </p>
<% else %>
    <p>
      <i>If you would like to delete this record, please <%= link_to 'login', login_url %> or <%= link_to 'create an account', signup_url %>.<br>
        This will also allow you to access all previous visits recorded with your email address: <%= @visitor.email %>.</i>
    </p>
<%  end %>