<h1>Add New Issue for <%= @version.portal.name.strip %> version <%= @version.number %></h1>
<%= form_with(model: @issue, url: version_issues_path) do |f| %>
  <% if @issue.errors.any? %>
    <div id="error_explanation">
      <h5>
        <%= pluralize(@issue.errors.count, "error") %> prohibited
        the issue from being saved:
      </h5>
      <ul>
        <%= @issue.errors.full_messages.each do |msg| %>
          <li class="error"><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :name, "Issue Name" %>
    <%= f.text_field :name, required: true %><br>

    <%= f.label :description %>
    <%= f.text_area :description, required: true, minlength: 5 %><br>
  </p>

  <%= f.submit %>
<% end %>

<%= link_to 'Back to Issues', version_issues_path(@version) %>