<h1>Edit Browser Issue <%= @portal_issue.name.strip %></h1>
<%= form_with model: @portal_issue do |f| %>
  <% if @portal_issue.errors.any? %>
    <div id="error_explanation">
      <h5>
        <%= pluralize(@portal_issue.errors.count, "error") %> prohibited
        the issue from being saved:
      </h5>
      <ul>
        <%= @portal_issue.errors.full_messages.each do |msg| %>
          <li class="error"><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :name, "Issue Name" %>
    <%= f.text_field :name, required: true %><br>

    <%= f.label :description %>
    <%= f.text_area :description, required: true, minlength: 5 %><br>
  </p>

  <%= f.submit "Update Browser Issue" %>
<% end %>

<%= link_to 'Back to Browser Issues', portal_portal_issues_path(@portal_issue.portal) %>