<h1>Sign up</h1>

<%= form_for(@user) do |f| %>
  <%= f.email_field :email, placeholder: 'Email' %> <br><br>
  <%= f.text_field :first_name, placeholder: 'First name' %>
  <%= f.text_field :last_name, placeholder: 'Last name' %><br><br>
  <%= f.password_field :password, placeholder: 'Password' %>
  <%= f.password_field :password_confirmation, placeholder: 'Password confirmation' %>
  <%= f.hidden_field :employee, value: false %>
  <%= f.submit 'Create an account', class: 'btn-submit' %>

  <p>
    <strong>Passwords must:</strong>
  <ul>
    <li>be at least 12 characters long.</li>
    <li>contain one uppercase letter.</li>
    <li>contain one lowercase letter.</li>
    <li>contain one symbol.</li>
    <li>contain one number.</li>
  </ul>
  </p>
<% end %>