<table>
  <tr>
    <th>Version</th>
    <th>Issues</th>
  </tr>

  <% @portal.versions.each do |version| %>
    <tr>
      <td><%= version.number %></td>
      <td>
        <% version.issues.each do |issue| %>
          <%= issue.name.titleize %><%= ", " unless issue == version.issues.last %>
        <% end %>
      </td>
      <td><%= link_to 'Show', version_path(version) %></td>
      <td><%= link_to 'Edit', edit_version_path(version) %></td>
      <td><%= link_to 'Delete', version_path(version),
                      method: :delete,
                      data: { confirm: 'Are you certain?' }%></td>
    </tr>
  <% end %>
</table>