<h1>Edit Version <%= @version.number %></h1>

<%= form_with(model: @version) do |f| %>
  <% if @version.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@version, "error") %> prohibited
        the version from being saved:
      </h2>
      <ul>
        <%= @version.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <%= f.label :number, "Version Number" %>
    <%= f.number_field :number %>
  </p>
  <p>

  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to "Cancel / Back to Browser Page", portal_path(@version.portal_id) %>