<h1><%= @version.portal.name %> version <%= @version.number %> </h1>
<%= link_to 'Change Version Number', edit_version_path(@version) %>

<h2>Known Issues for Version <%= @version.number %></h2>
<table>
  <tr>
    <td>Name</td>
    <td>Description</td>
  </tr>

  <% @version.issues.each do |issue| %>
    <tr>
      <td><%= issue.name %></td>
      <td><%= issue.description %></td>
    </tr>
  <% end %>

</table>
<%= link_to 'Add New Issue', new_version_issue_path(@version) %> |
<%= link_to 'Issues Management Page', version_issues_path(@version) %> |
<%= link_to 'Back to Browser Page', portal_path(@version.portal) %>