<h1><%= @portal.name %></h1>

<strong>Current Version:</strong>
<%= @portal.current %><br>

<%= link_to "Edit #{@portal.name}", edit_portal_path(@portal.id) %>

<h2>Versions:</h2>
<%= render 'versions/index'%><br>
<%= link_to 'New Version', new_portal_version_path(@portal)  %> |
<%= link_to 'Version Management Page', portal_versions_path(@portal)  %> |
<%= link_to 'Browser Management Page', portals_path %>