<!DOCTYPE html>
<html>
  <head>
    <title>Browser Detect<%= ": #{@page_title}" unless @page_title.nil? %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <% if employee_user %>
    <%= link_to 'Visitors', visitors_path %>
    <%= link_to 'Browsers', portals_path %>
  <% end %>

  <% if current_user %>
    <%= link_to "#{current_user.email}", user_url(current_user) %>
    <%= link_to 'Log out', logout_path, method: 'delete' %>
  <% else %>
    <%= link_to 'Login', login_path %>
    <%= link_to 'Create an Account', signup_path %>
  <% end %>

  <%= render 'shared/flash_messages' unless flash.empty? %>

  <!-- Before Yield -->

    <%= yield %>

  <!-- After Yield -->
  <br>
  <br>
  <br>
  <br>
  <br>
  <%= link_to 'Source Code for this Site', 'https://github.com/meagerfindings/browser_detect' %>


  </body>
</html>
