<!DOCTYPE html>
<html>
  <head>
    <title>Browser Detect<%= ": #{@page_title}" unless @page_title.nil? %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <!-- Before Yield -->

    <%= yield %>

  <!-- After Yield -->

  </body>
</html>
